<nav class="navbar navbar-expand-md" style="background-color: #13322b;">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#" style="color: white;">Vacunate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="color: white;">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../index.php" style="color: white;"><img src="../../img/icon/door_Exits.png" width="55" height="50">Salir</a>
            </li>
        </ul>
    </div>
</nav>